body {
    background-color: #B0FFF3;
}

#navBar ul {
    border: 2px solid black;
    margin-left: 30em;
    display: inline-block;
}

#navBar li {
    display: inline-block;
}

#navBar {
    width: 84em;
    border-bottom: 2px solid black;
}
