@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        margin-left: -13em;
    }

    to {
        margin-left: 0em;
    }
}

@keyframes slideOutLeft {
    from {
        margin-left: 0em;
    }

    to {
        margin-left: -13em;
    }
}

.divHeaders {
    text-align: center;
}

body {
    background-color: #FFFFFF;
}

#header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    height: 4em;
    width: 83.5em;
    border-bottom: 2px solid black;
}

#header a:active {
    box-shadow: 0px 0px #000000;
    transform: translate(0em, 0.1em);
}

#header h2 {
    margin-left: 2em;
    margin-top: 0.1em;
    padding-top: 0.5em;
    font-size: 2em;
    float: left;
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

#header a {
    border: 2px solid black;
    border-radius: 2em;
    margin-top: 0.7em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    box-shadow: 0px 2px #000000;
    transition: box-shadow 150ms, transform 150ms;
}

#refreshButton {
    margin-right: 1em;
    float: right;
}

#logoutButton {
    margin-right: 1em;
    float: right;
}

#mainCont {
    width: 83.5em;
    height: 79em;
}

#hitChartDiv {
    float: left;
    margin-top: 1em;
    margin-left: -20em;
    width: 50em;
    height: 28em;
    border: 2px solid black;
}

#hitChartDiv h2 {
    margin-bottom: -1em;
}

#topVisitorDiv {
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    width: 30em;
    height: 28em;
    border: 2px solid black;
}

#topVisitorDiv table {
    width: 100%;
}

#topVisitorDiv td {
    padding-top: 1em;
}

.visitorBarDiv {
    float: right;
    margin-right: 2em;
    height: 2em;
    width: 10em;
    margin-top: -0.5em;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

#geoMapDiv {
    width: 81em;
    height: 45em;
    border: 2px solid black;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
}
