body {
    background-color: #B0FFF3;
}

#navBar h2 {
    margin-left: 1em;
}

#navBar a {
    border: 2px solid black;
    border-radius: 2em;
    margin-top: -2.5em;
    margin-right: 1em;
    float: right;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
}

#navBar {
    width: 84em;
    border-bottom: 2px solid black;
}
