body {
    background-color: #B0FFF3;
}

#navBar h3 {
    float: left;
    margin-left: 1em;
}

#navBar a {
    border: 2px solid black;
    margin-top: -3em;
    margin-right: 1em;
    float: right;
}

#navBar {
    width: 84em;
    border-bottom: 2px solid black;
}
