<html>
    <head>
	<title>Dev Site Analyzer</title>
	<link rel="stylesheet" href="templates/loginStyle.css">
    </head>
    <body>
	<h1>Please Login</h1>
	<div id="loginForm">
	    <form action="" method="post" novalidate>
	        <label id="usernameLabel" for="formUsername">Username </label>
	        <input type="test" id="formUsername" name="formUsername">
	        </br>
	        </br>
		<label id="passwordLabel" for="formPassword">Password </label>
	        <input type="password" id="formPassword" name="formPassword">
	        </br>
	        </br>
	        <input id="submit" type="submit" value="Submit">
	    </form>
	</div>
    </body>
</html>
