<html>
    <head>
	<title>Dev Site Analyzer</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/loginStyle.css') }}">
    </head>
    <body>
	<h1>Please Login</h1>
	<div id="loginForm">
	    <form action="" method="post" novalidate>
		{{form.hidden_tag() }}
		{{ form.username.label }}
		{{ form.username(size=32) }}
	        </br>
	        </br>
		{{ form.password.label }}
		{{ form.password(size=32) }}
	        </br>
	        </br>
		{{ form.remember_me() }} {{ form.remember_me.label }}
		{{ form.submit() }}
	    </form>
	</div>
    </body>
</html>
