@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.errorLog {
    color: red;
}

h1 {
    margin-left: 18.2em;
    margin-top: 2em;
    animation-name: fadeIn;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

#loginForm {
    border: 2px solid #000000;
    border-radius: 2em;
    height: 18em;
    width: 21em;
    margin-left: 31em;
    animation-name: fadeIn;
    animation-delay: 0.4s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

form {
    margin-top: 2em;
    margin-left: 1.5em;
}

form label {
    font-size: 1.3em;
}

form input[type=text], form input[type=password] {
    margin-bottom: 1em;
}

#rememberMeP {
    margin-top: -5em;
}

#rememberMeP {
    margin-top: -3em;
}


form input[type=submit] {
    margin-top: 1em;
    width: 5em;
    height: 1.7em;
    margin-left: 5.7em;
    font-size: 1.05em;
}
