<!DOCTYPE html>
<html>
    <head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{url_for('static',filename='styles/homeStyle.css') }}">
	<script src="{{url_for('static',filename='scripts/chartControl.js')}}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    </head>
    <body>
	<div id="navBar">
	    <h2>Hello, {{ current_user.username }}!</h2>
	    <a href="#" id="refreshButton">Refresh Data</a>
	    <a href="/logout" id="logoutButton">Logout</a>
	</div>
	<div id="hitChartDiv">
	    <h2 class="divHeaders">Site Hits</h2>
	    <form action="#">
		<select id="chartTimeSeries" name="chartTimeSeries">
		    <option value="monthly">Monthly</option>
		    <option value="daily">Daily</option>
		</select>
	    </form>
	    <canvas id="myChart"></canvas>
	</div>
	
	<div id="topVisitorDiv">
	    <h2 class="divHeaders">Top Visitors</h2>
	    <table>
		<tr>
		    <th>IP</th>
		    <th>Visits</th>
		</tr>
		<tr>
		    <td>192.159.1.10</td>
		    <td>10<div id="visitorBarOne" class="visitorBar">Bar Graph Goes here</div></td>
		</tr>
		<tr>
		    <td>192.159.1.10</td>
		    <td>9<div id="visitorBarTwo" class="visitorBar">Bar Graph Goes Here</div></td>
		</tr>
		<tr>
		    <td>192.159.1.10</td>
		    <td>8<div id="visitorBarThree" class="visitorBar">Bar Graph Goes Here</div></td>
		</tr>
	    </table>
	</div>
    </body>
</html>
