<html>
    <head>
	<title>Dev Site Analyzer - Register</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/registerStyle.css')}}">
    </head>
    <body>
	<h1>Registration Form</h1>
	<div id="registerForm">
	    <form action="" method="post" novalidate>
		{{form.hidden_tag()}}
		<p id="usernameP">
		    {{form.username.label}}
		    {{form.username(size=32)}}
		    {% for error in form.username.errors %}
			<span class="errorLog">[{{error}}]</span>
		    {% endfor %}
		</p>
		<br>
		<br>
		<p id="emailP">
		    {{form.email.label}}
		    {{form.email(size=32)}}
		    {% for error in form.email.errors %}
			<span class="errorLog">[{{error}}]</span>
		    {% endfor %}
		</p>
		<br>
		<br>
		<p id="passwordP">
		    {{form.password.label}}
		    {{form.password(size=32)}}
		    {%for error in form.password.errors %}
			<span class="errorLog">[{{error}}]</span>
		    {% endfor %}
		</p>
		<p id="submitP">
		    {{form.submit()}}
		</p>
	    </form>
	</div>
    </body>
</html>
